test/Build
*.xcuserstate
xcuserdata
python-module/build
max-externals/project/Build
*.xccheckout

# Visual Studio / Windows
*.tlog
.vs/
*.idb

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

*.VC.opendb
*.VC.db

# gist-specific project stuff
src-Windows/DebugDynamicWin32/*
src-Windows/DebugDynamicx64/*
src-Windows/DebugStaticWin32/*
src-Windows/DebugStaticx64/*
src-Windows/ReleaseDynamicWin32/*
src-Windows/ReleaseDynamicx64/*
src-Windows/ReleaseStaticWin32/*
src-Windows/ReleaseStaticx64/*